<!DOCTYPE html>
<html lang="en" class="has-background-dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dog Walkers</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body class="has-background-dark">
  <div>
    <header>
      <nav class="navbar is-dark is-fixed-top is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <figure class="image is-32x32">
              <img class="is-rounded" src="/assets/paw-logo.png">
            </figure>
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarmobile">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarmobile" class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item button is-link mx-4">
              Home
            </a>
            {{#if loggedIn}}
            <hr class="navbar-divider">
            <a href="/dashboard" class="navbar-item button is-info">
              Dashboard
            </a>
            {{/if}}
            <a href="/team" class="navbar-item button is-link mx-4">
              Meet The Team
            </a>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                {{#if loggedIn}}
                <a id="logout" class="button is-light mx-4">
                  <strong>Logout</strong>
                </a>
                {{else}}
                <a href="/login" class="button is-primary mx-4">
                  <strong>Login</strong>
                </a>
                <a href="/login" class="button is-warning mx-4">
                  <strong>Sign Up</strong>
                </a>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>


<script src="/javascript/navburger.js"></script>





{{!--<nav>
        {{#if loggedIn}}
        <a href="/dashboard" class="bg-sky-600 hover:bg-sky-700">dashboard</a>
        <button id="logout" class="button is-primary">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>--}}