<section class="section"></section>
<section>
                <form class="applicant-form">
                    <div class="container is-fluid">
                        <section class="section is medium">
                            <div class="field">
                                <p class="control has-icons-left">
                                <input class="input" type="text" placeholder="What's your Name?" id="apply-name">
                                <span class="icon is-small is-left">
                                <i class="fas fa-circle-user"></i>
                                </span>
                                </p>
                            </div>
                            <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="text" placeholder="Email" id="apply-email">
                                <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                                </span>
                            </p>
                            </div>
                            <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="text" placeholder="Phone Number" id="phone">
                                <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                                </span>
                            </p>
                            </div>
                            <button type="submit" class="button is-success has-text-dark has-text-weight-medium">Submit Application!</button>                   
                </div>
                </form>
            </section>