<section class="section"></section>
{{#if ownerloggedin }}
<section>
                <form class="booking-form">
                    <div class="container is-fluid">
                        <section class="section is medium">
                            <div class="field">
                                <p class="control has-icons-left">
                                <input class="input" type="name" placeholder="What's your Dogs Name?" id="dog-name">
                                <span class="icon is-small is-left">
                                <i class="fas fa-circle-user"></i>
                                </span>
                                </p>
                            </div>
                            <button type="submit" class="button is-success has-text-dark has-text-weight-medium">Submit Booking!</button>                   
                </div>
                </form>
            </section>
<script src="/javascript/booking.js"></script>
{{else}}

<div class="columns is-mobile">
<div class="column is-half">
<form class="owner-login-form">
<div class="container is-fluid">
  <section class="section is medium">
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="text" placeholder="Email" id="owner-email-login">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password" id="owner-password-login">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button type="submit" class="button is-success has-text-dark has-text-weight-medium is-medium">
      Login
    </button>
  </p>
</div>
</section>
</div>
</form>
</div>

<div class="column is-half">
  <form class="owner-signup-form">
<div class="container is-fluid">
  <section class="section is medium">
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="name" placeholder="Name" id="owner-name">
    <span class="icon is-small is-left">
      <i class="fas fa-circle-user"></i>
    </span>
  </p>
</div>

<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="text" placeholder="Email" id="owner-email-signup">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password" id="owner-password-signup">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button type="submit" class="button is-warning has-text-weight-medium is-medium">
      Sign up
    </button>
  </p>
</div>
</section>
</div>
</form>
</div>
</div>
{{/if}}

<script src="/javascript/ownerlogin.js"></script>
<script src="https://kit.fontawesome.com/6f76cc71c8.js" crossorigin="anonymous"></script>