<section class="section"></section>
{{#if ownerloggedin }}
<section>
                <form class="booking-form">
                    <div class="container is-fluid">
                        <section class="section is medium">
                            <div class="field">
                                <p class="control has-icons-left">
                                <input class="input" type="name" placeholder="What's your Dogs Name?" id="dog-name">
                                <span class="icon is-small is-left">
                                <i class="fas fa-circle-user"></i>
                                </span>
                                </p>
                            </div>
                            <button type="submit" class="button is-success has-text-dark has-text-weight-medium">Submit Booking!</button>                   
                </div>
                </form>
            </section>

{{else}}

{{/if}}



<script src="/javascript/booking.js"></script>
<script src="https://kit.fontawesome.com/6f76cc71c8.js" crossorigin="anonymous"></script>