
{{#if loggedIn}}
<div class="container is-fluid">
<div class="mx-auto">
  {{!<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">}}
      <section class="section"></section>
        <div class="level is-mobile">
          <h3 class="is-size-2 has-text-light level-item has-text-centered">Dogs Being Walked</h3>
        </div>
      <table class="table is-bordered is-hoverable has-background-grey-light mx-auto">
        <thead class="has-background-info">
          <tr>
            <th class="is-size-4">Dog Name</th>
            <th class="is-size-4">Dog ID</th>
            <th class="is-size-4">Owner ID</th>
            <th class="is-size-4">Walker ID</th>
          </tr>
        </thead>
        <tbody>
          {{#each dogs as |dog|}}
            <tr>
              <td class="is-size-5 has-text-centered has-text-weight-medium">{{dog.name}}</td>
              <td class="is-size-5 has-text-centered has-text-weight-medium">{{dog.id}}</td>
              <td class="is-size-5 has-text-centered has-text-weight-medium">{{dog.owner.id}}</td>
              <td class="is-size-5 has-text-centered has-text-weight-medium">{{dog.dogwalker_id}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
  {{!  </div>
  </div>}}
</div>
</div>
{{/if}}
{{!-- <script src="/javascript/add-walker.js"></script> --}}

