

<div class="container is-fluid">
<div class="mx-auto">
  {{!<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">}}
      <section class="section"></section>
        <div class="m-auto">
          <h3 class="is-size-4 has-text-light m-auto">Please Select an available dog to walk</h3>
        </div>
      <table class="table is-bordered is-hoverable has-background-grey-light mx-auto">
        <thead class="has-background-info">
          <tr class="has-text-light">
            <th>Dog Name</th>
            <th>Dog ID</th>
            <th>Owner ID</th>
            <th>Walker ID</th>
          </tr>
        </thead>
        <tbody>
          {{#each dogs as |dog|}}
            <tr>
              <td><button class="button is-info" type="submit">{{dog.name}}</button></td>
              <td>{{dog.id}}</td>
              <td>{{dog.owner.id}}</td>
              <td>{{dog.dogwalker_id}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
  {{!  </div>
  </div>}}
</div>
</div>

{{!-- <script src="/javascript/add-walker.js"></script> --}}

