{{!<div>
    <a href="/login">login</a>
    <a href="/dashboard">Dashboard</a>
</div>
}}
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <h1 class="title is-1 mx-auto has-text-primary-light">
            Welcome To Paw Walkers!
        </h1>
    </div>
</section>