<div>
  <div class="mt-4 md:mt-0 md:ml-6">
    <div class="text-justify">
      <p class="text-left hover:text-center">
        <a href="/dashboard">Dashboard</a>
      </p>
    </div>
  </div>
 <div id="items-center align-items:center">
   <a href="/login">login</a>
 </div>
</div>
