{{!<div>
    <a href="/login">login</a>
    <a href="/dashboard">Dashboard</a>
</div>
}}
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body mx-auto">
        <p class="title is-1 has-text-primary-light">
            Welcome To Walkin' Dogs Please Login!
        </p>
    </div>
</section>