<section class="section"></section>
<div class="columns is-mobile">
<div class="column is-half">
<form class="login-form">
<div class="container is-fluid">
  <section class="section is medium">
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="text" placeholder="Email" id="email-login">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password" id="password-login">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button type="submit" class="button is-success has-text-dark has-text-weight-medium is-medium">
      Login
    </button>
  </p>
</div>
</section>
</div>
</form>
</div>

<div class="column is-half">
  <form class="signup-form">
<div class="container is-fluid">
  <section class="section is medium">
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="name" placeholder="Name" id="name">
    <span class="icon is-small is-left">
      <i class="fas fa-circle-user"></i>
    </span>
  </p>
</div>

<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="text" placeholder="Email" id="email-signup">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password" id="password-signup">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button type="submit" class="button is-warning has-text-weight-medium is-medium">
      Sign up
    </button>
  </p>
</div>
</section>
</div>
</form>
</div>
</div>

<script src="/javascript/login.js"></script>
<script src="https://kit.fontawesome.com/6f76cc71c8.js" crossorigin="anonymous"></script>