<section class="section"></section>
<div class="level is-mobile">
    <h3 class="is-size-2 has-text-light level-item has-text-centered">Meet Our Amazing Paw Walkers</h3>
</div>
<div class="columns is-mobile is-multiline">
      {{#each walker as |walker|}}
      <div class="column is-one-third">
        <div class="card has-background-dark has-text-light m-auto p-auto">
        <div class="card-content">
            <div class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
            </div>
        <div class="media-content">
            <p class="title is-3 has-text-light">{{walker.name}}</p>
            <p class="subtitle is-5 has-text-light">{{walker.email}}</p>
        </div>
        </div>

    <div class="content">
      {{walker.description}}
      <br>
      <button class="js-modal-trigger button is-small is-success" data-target="modal-js">
        Book Me!
      </button>
      {{> modal walker }}  
    </div>
  </div>
</div>
      </div>
    {{/each}}
</div>


<script src="/javascript/modal.js"></script>