.hero {
  background-image: url("/assets/dogwalk.jpg"); /* The image used */
  /*  background-color: #cccccc; /* Used if the image is unavailable */
  /*  height: 500px; /* You must set a specified height */
  /*  background-position: center; /* Center the image */
  /*  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.team {
  background-image: url("/assets/dog-background.jpg"); /* The image used */
  /*  background-color: #cccccc; /* Used if the image is unavailable */
  /*  height: 500px; /* You must set a specified height */
  /*  background-position: center; /* Center the image */
  /*  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#login {
  background-image: url("/assets/logindog.jpg"); /* The image used */
  /*  background-color: #cccccc; /* Used if the image is unavailable */
  /* height: 500px; /* You must set a specified height */
  /* width: 500px; /* You must set a specified height */
  /*  background-position: center; /* Center the image */
  /*  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-radius: 25px;
}

#signup {
  background-image: url("/assets/girlwithdog.jpg"); /* The image used */
  /*  background-color: #cccccc; /* Used if the image is unavailable */
  /* height: 500px; /* You must set a specified height */
  /* width: 500px; /* You must set a specified height */
  /*  background-position: center; /* Center the image */
  /*  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-radius: 25px;
}
